html {
	height: 100vh;
}

body {
	background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
}

h1 {
	text-align: center;
	color: #FFF;
}

p {
	color: #FFF;
}

.eleve{
	color:red;
}
.display{
	visibility: hidden;
}
.display.show{
	visibility: visible;
}