html {
	height: 100vh;
}

body {
	background-color: #add8e6;
}

h1 {
	text-align: center;
	color: #FFF;
}

p {
	color: #FFF;
}

.eleve{
	color:red;
}
.display{
	visibility: hidden;
}
.display.show{
	visibility: visible;
}